<md-card class="form-container-lg">
  <md-card-title>
    Basic Information
  </md-card-title>
  <md-card-content class="text-center">
    <form novalidate [formGroup]="form">
      <table class="full-width" cellspacing="0"><tr>
        <td>
          <md-input-container class="full-width input-lg" flex>
            <input mdInput placeholder="First Name" formControlName="firstName">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width input-lg" flex>
            <input mdInput placeholder="Last Name" formControlName="lastName">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="input-lg" flex>
            <input mdInput placeholder="Middle Name or Initial">
          </md-input-container>
        </td>
      </tr><tr class="text-center">
      <td><control-message [control]="form.controls.firstName"></control-message></td>
      <td><control-message [control]="form.controls.lastName"></control-message></td>
      <td><control-message [control]="form.controls.middleName"></control-message></td>
      </tr></table>
      <md-input-container class="full-width input-lg" flex>
        <input mdInput placeholder="Email" formControlName="email">
      </md-input-container>
      <control-message [control]="form.controls.email"></control-message>

      <table class="full-width" cellspacing="0"><tr>
        <td>
          <md-input-container class="full-width input-lg" flex>
            <input mdInput placeholder="Phone Number" formControlName="phone">
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Phone Type" formControlName="phoneType">
            <md-option *ngFor="let type of listPhoneType" [value]="type.name">{{type.name}}</md-option>
          </md-select>
        </td>
      </tr><tr>
        <td><control-message [control]="form.controls.phone"></control-message></td>
        <td><control-message [control]="form.controls.phoneType"></control-message></td>
      </tr>
      </table>
    </form>
    <table class="full-width">
      <tr>
        <td><button md-raised-button routerLink="/home">Cancel</button></td>
        <td><button md-raised-button [disabled]="!form.valid" color="accent">Next</button></td>
      </tr>
    </table>
  </md-card-content>
</md-card>
