<md-card class="container fixed-form" [@flyInOut] *ngIf="step == 0">
  <md-card-title>
    Basic Information
  </md-card-title>
  <md-card-content>
    <form novalidate [formGroup]="basicForm">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 row">
          <md-input-container class="col-xs-12 input-lg">
            <input mdInput placeholder="First Name" formControlName="firstName">
          </md-input-container>
          <control-message class="col-xs-12" [control]="basicForm.controls.firstName"></control-message>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row">
          <md-input-container class="col-xs-12 input-lg">
            <input mdInput placeholder="Last Name" formControlName="lastName">
          </md-input-container>
          <control-message class="col-xs-12" [control]="basicForm.controls.lastName"></control-message>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row">
          <md-input-container class="col-xs-12 input-lg">
            <input mdInput placeholder="Middle Name or Initial">
          </md-input-container>
          <control-message class="col-xs-12" [control]="basicForm.controls.middleName"></control-message>
        </div>
      </div>
      <div class="row middle-xs">
        <div class="col-sm-6 col-xs-12 row">
          <md-input-container class="col-xs-12 input-lg">
            <input mdInput placeholder="Email" formControlName="email">
          </md-input-container>
          <control-message class="col-xs-12" [control]="basicForm.controls.email"></control-message>
        </div>
        <div class="col-sm-6 col-xs-12 row">
          <md-radio-group formControlName="gender" class="col-xs-12 center-xs around-xs input-lg">
            <md-radio-button *ngFor="let gender of listGenders" [value]="gender.name" class="col-xs-6 end-xs">{{gender.name}}</md-radio-button>
          </md-radio-group>
          <control-message class="col-xs-12" [control]="basicForm.controls.gender"></control-message>
        </div>
      </div>
      <div formArrayName="phones">
        <div class="row middle-xs" [formGroupName]="i" *ngFor="let phone of phones.controls; let i = index;">
          <md-input-container class="col-md-7 col-xs-6 input-lg">
            <input mdInput placeholder="Phone Number" formControlName="value">
          </md-input-container>
          <md-select placeholder="Phone Type" formControlName="type" class="col-md-4 col-xs-5 input-lg">
            <md-option *ngFor="let phoneType of listPhoneTypes" [value]="phoneType.name">{{phoneType.name}}</md-option>
          </md-select>
          <md-icon *ngIf="i == 0" (click)="addPhone()" class="icon-link icon-primary">add_circle</md-icon>
          <md-icon *ngIf="i != 0" (click)="removePhone(i)" class="icon-link icon-danger" color="accent">remove_circle</md-icon>
          <control-message class="col-xs-12" [control]="phone.controls.value"></control-message>
        </div>
      </div>
    </form>
    <div class="row middle-xs around-xs">
      <button md-raised-button routerLink="/home">Cancel</button>
      <button md-raised-button [disabled]="!basicForm.valid" color="accent" (click)="setStep(1)">Next</button>
    </div>
  </md-card-content>
</md-card>

<md-card class="container fixed-form" [@flyInOut] *ngIf="step == 1">
  <md-card-title>
    Personal Reference
  </md-card-title>
  <md-card-content>
    <form novalidate [formGroup]="referenceForm">
      <div class="row top-xs">
        <md-input-container class="col-sm-4 col-xs-12 input-lg">
          <input mdInput placeholder="Nickname" formControlName="nickname">
        </md-input-container>
        <div class="col-sm-4 col-xs-12 row">
          <md-input-container class="col-xs-12 input-lg">
            <input mdInput [mdDatepicker]="dob" placeholder="Date of Birth" formControlName="dob">
            <button mdSuffix [mdDatepickerToggle]="dob"></button>
          </md-input-container>
          <control-message class="col-xs-12" [control]="referenceForm.controls.dob"></control-message>
        </div>
        <md-datepicker #dob></md-datepicker>
        <md-select placeholder="Relationship Status" formControlName="status" class="col-sm-4 col-xs-12 input-lg" style="padding: 22px 15px">
          <md-option *ngFor="let status of listRelationshipStatus" [value]="status.status">{{status.status}}</md-option>
        </md-select>
      </div>
      <md-card-title style="padding-top: 1em">
        <small>Address</small>
      </md-card-title>
      <div formArrayName="addresses">
        <div [formGroupName]="i" *ngFor="let address of addresses.controls; let i = index;">
          <div class="row middle-xs">
            <md-input-container class="col-xs-10 input-lg">
              <input mdInput placeholder="Street" formControlName="street">
            </md-input-container>
            <div class="col-xs-2 center-xs">
              <md-icon *ngIf="i == 0" (click)="addAddress()" class="icon-link icon-primary">add_circle</md-icon>
              <md-icon *ngIf="i != 0" (click)="removeAddress(i)" class="icon-link icon-danger" color="accent">remove_circle</md-icon>
            </div>
          </div>
          <div class="row">
            <md-input-container class="col-md-4 col-xs-12 input-lg">
              <input mdInput placeholder="City" formControlName="locality">
            </md-input-container>
            <md-input-container class="col-md-3 col-xs-6 input-lg">
              <input mdInput placeholder="Zip code" formControlName="postal_code">
            </md-input-container>
            <md-input-container class="col-md-3 col-xs-6 input-lg">
              <input mdInput auto-complete placeholder="Country" formControlName="region" [source]="listCountries"/>
            </md-input-container>
          </div>
        </div>
      </div>
    </form>
    <div class="row middle-xs around-xs">
      <button md-raised-button (click)="setStep(0)">Back</button>
      <button md-raised-button (click)="save()" [disabled]="!referenceForm.valid" color="accent">Save</button>
    </div>
  </md-card-content>
</md-card>