/angular/dist
/angular/tmp
/angular/out-tsc
/angular/node_modules
/angular/.idea
/angular/.project
/angular/.classpath
/angular/.c9/
/angular/*.launch
/angular/.settings/
/angular/*.sublime-workspace
/angular/.vscode/*
!/angular/.vscode/settings.json
!/angular/.vscode/tasks.json
!/angular/.vscode/launch.json
!/angular/.vscode/extensions.json
/angular/.sass-cache
/angular/connect.lock
/angular/coverage
/angular/libpeerconnection.log
/angular/npm-debug.log
/angular/testem.log
/angular/typings
/angular/e2e/*.js
/angular/e2e/*.map
/angular/.DS_Store
/angular/Thumbs.db

/nodejs/node_modules