/web/dist
/web/tmp
/web/out-tsc
/web/node_modules
/web/.idea
/web/.project
/web/.classpath
/web/.c9/
/web/*.launch
/web/.settings/
/web/*.sublime-workspace
/web/.vscode/*
!/web/.vscode/settings.json
!/web/.vscode/tasks.json
!/web/.vscode/launch.json
!/web/.vscode/extensions.json
/web/.sass-cache
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
/web/npm-debug.log
/web/testem.log
/web/typings
/web/e2e/*.js
/web/e2e/*.map
/web/.DS_Store
/web/Thumbs.db

/webRefactoring/dist
/webRefactoring/tmp
/webRefactoring/out-tsc
/webRefactoring/node_modules
/webRefactoring/.idea
/webRefactoring/.project
/webRefactoring/.classpath
/webRefactoring/.c9/
/webRefactoring/*.launch
/webRefactoring/.settings/
/webRefactoring/*.sublime-workspace
/webRefactoring/.vscode/*
!webRefactoring/.vscode/settings.json
!webRefactoring/.vscode/tasks.json
!webRefactoring/.vscode/launch.json
!webRefactoring/.vscode/extensions.json
/webRefactoring/.sass-cache
/webRefactoring/connect.lock
/webRefactoring/coverage
/webRefactoring/libpeerconnection.log
/webRefactoring/npm-debug.log
/webRefactoring/testem.log
/webRefactoring/typings
/webRefactoring/e2e/*.js
/webRefactoring/e2e/*.map
/webRefactoring/.DS_Store
/webRefactoring/Thumbs.db

/api/node_modules
/api/db/*