.top-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #4dbd8e 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #4dbd8e 100%);
  color: white;
  height: 65px;
  line-height: 65px;
  font-size: 25px;
}

.menu-wrapper {
  max-width: 90%;
  margin: auto;
}

.menu-right {
  float: right;
}

.menu-left {
  float: left;
}

.mat-icon {
  height: 30px;
}

div.cdk-overlay-pane {
  right: 0;
}

.top-menu .mat-button {
  font-size: 20px;
  height: 65px;
}

hr.menu-separator {
  border-color: rgb(221, 255, 243);
  width: 95%;
}

.menu-search {
  border-radius: 20px;
  padding: 3px 15px;
  color: #30887e;
  background: rgba(247, 246, 246, 0.85);
  line-height: 25px;
  font-size: 15px;
  position: relative;
  top: -2px;
  border-style: hidden;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #30887e;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #30887e;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #30887e;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #30887e;
  }
  &:focus {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: lighten(#30887e, 7%);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: lighten(#30887e, 7%);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: lighten(#30887e, 7%);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: lighten(#30887e, 7%);
    }
  }
}
