<md-card *ngIf="show" class="form-container-sm register-form" [@flyInOut]>
  <md-card-title>
    {{ message }}
  </md-card-title>
  <md-card-content class="text-center">
    <form novalidate [formGroup]="form">
      <md-input-container class="full-width input-lg" flex>
        <input mdInput placeholder="Username" formControlName="username">
      </md-input-container>
      <control-message [control]="form.controls.username"></control-message>

      <md-input-container class="full-width input-lg" flex>
        <input mdInput type="password" placeholder="Password" formControlName="password">
      </md-input-container>
      <control-message [control]="form.controls.password"></control-message>

      <md-input-container class="full-width input-lg" flex>
        <input mdInput type="password" placeholder="Confirm Password" formControlName="confirm">
      </md-input-container>
      <control-message [control]="form.controls.confirm"></control-message>
    </form>
    <table class="full-width">
      <tr>
        <td><button md-raised-button [disabled]="!form.valid" (click)="registration()" color="primary">Register</button></td>
        <td><button md-raised-button (click)="toggleLoginState()">Cancel</button></td>
      </tr>
    </table>
  </md-card-content>
</md-card>