<md-card class="container-sm fixed-form" [@flyInOut]>
  <md-card-title>
    {{ message }}
  </md-card-title>
  <md-card-content>
    <form novalidate [formGroup]="form" class="row middle-xs">
      <md-input-container class="col-xs-12 input-lg">
        <input mdInput placeholder="Username" formControlName="username">
      </md-input-container>
      <control-message class="col-xs-12" [control]="form.controls.username"></control-message>
      <md-input-container class="col-xs-12 input-lg">
        <input mdInput type="password" placeholder="Password" formControlName="password">
      </md-input-container>
      <control-message class="col-xs-12" [control]="form.controls.password"></control-message>
    </form>
    <div class="row around-xs">
      <button md-raised-button [disabled]="!form.valid" (click)="login()" color="accent">Login</button>
      <button md-raised-button routerLink="/register">Register</button>
    </div>
  </md-card-content>
</md-card>