/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: #f7f6f6;
  color: lighten(black, 40%);
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.text-center {
  text-align: center;
  vertical-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
}

.form-container-sm {
  width: 500px;
  margin: 120px auto;
  &.register-form,
  &.login-form {
    z-index: 10;
    position: fixed;
    left: 50%;
    margin-left: -274px;
  }
}

.form-container-md {
  width: 720px;
  margin: 100px auto;
}

.form-container-lg {
  width: 970px;
  margin: 70px auto;
}

.form-container-full {
  width: 95%;
  margin: 20px auto;
}

.input-lg {
  font-size: 18px;
}

.flash-messages {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0 2px #dddddd;
  padding: 0 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
